




<table class="table table-striped table-hover table-bordered">
         <thead>
                 <tr>
                     <th>Name</th>
                     <th>Description</th>
                     <th>Image</th>
                     <th>Price</th>
                     <th>Stock</th>
                 </tr>
         </thead>
         <tbody>
         <% @projects.each do |project| %>
                <tr>
                 <td><%= project.name  %></td>
                 <td><%=  project.description%></td>
                 <td><%=  project.image %></td>
                 <td><%=  project.price %></td>
                 <td><%= project.stock  %></td>
                 <td><%= link_to "Show", project,class:"btn btn-secondary" %></td>
                  <td><%= button_to "Destroy", project,method: :delete,class:"btn btn-danger" %></td>
                
                 </tr>
                <% end %>    
         </tbody>         
</table>

<!--<div><%= link_to "Add product", new_project_path %></div>*/

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %> --> 
